$orange: #ff7038;
$white: #FFF;
$black: #151515;
$grey: #f2f5f8;
$darkBlue: #1d1f2a;
$darkGrey: #555;
$facebookBlue: #3b5998;
$googleRed: #DC4E41;

.header {
  &.navbar {
    margin-bottom: 0px;
  }
}

.content {
  min-height: 550px;
  padding: 0 15px;
}

.login-form {
  padding: 20px;
  border: 1px solid $black;
}

.add-new-challenge-button, .add-new-show-button {
  margin-top: 35px;
  text-align: right;
  cursor: pointer;
}

textarea {
  resize: none;
}
