$orange: #ff7038;
$white: #FFF;
$black: #151515;
$grey: #f2f5f8;
$darkBlue: #1d1f2a;
$darkGrey: #555;
$facebookBlue: #3b5998;
$googleRed: #DC4E41;

.login-form {
  padding: 20px;
  border: 1px solid $black;
}