{
  "parser": "babel-eslint",
  "env": {
    "es6": true,
    "browser": true,
    "node": true,
    "mocha": true
  },
  "parserOptions": {
    "ecmaVersion": 8,
    "sourceType": "module",
    "ecmaFeatures": {
      "experimentalObjectRestSpread": true
    }
  },
  "extends": ["eslint:recommended"],
  "rules": {
    "semi": [2, "always"],
    "comma-dangle" : 0,
    "space-before-function-paren": 0,
    "no-console": 2,
    "no-debugger": 2
  },
  "globals": {
    "_": true,
    "nconf": true,
    "request": true,
    "mongoose": true,
    "moment": true,
    "log": true,
    "expect": true,
    "db": true,
    "ObjectId": true,
    "jwtAuthenticated": true,
    "Services": true,
    "Plugins": true,
    "Constants": true,
    "Joi": true,
    "testUtil": true,
    "Middlewares": true
  }
}
