<nav class="header navbar navbar-custom">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" ui-sref="app.home">
        <!-- <img alt="Brand" src="..."> -->
        MEASUREUP
      </a>
    </div>
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav navbar-right">
        <li ng-repeat="menu in menuItems" ui-sref-active="active">
          <a ui-sref="{{menu.sref}}">
            <i class="{{menu.faClass}}"></i>
            {{menu.label}}
          </a>
        </li>
        <li class="dropdown" uib-dropdown>
          <a href="javascript:void(0)" uib-dropdown-toggle class="dropdown-toggle" id="split-button">Hi, Admin <span class="caret"></span></a>
          <ul class="dropdown-menu" uib-dropdown-menu role="menu" aria-labelledby="split-button">
            <!-- <li><a ui-sref="app.profile">Profile</a></li> -->
            <li><a ui-sref="app.setting">Setting</a></li>
            <li role="separator" class="divider"></li>
            <li><a ui-sref="logout">Logout</a></li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
</nav>