files:
  "/opt/elasticbeanstalk/hooks/appdeploy/post/apidoc.sh":
    mode: "000755"
    owner: root
    group: root
    content: |
      #!/usr/bin/env bash
      ln -sf `ls -td /opt/elasticbeanstalk/node-install/node-* | head -1`/bin/node /bin/node
      ln -sf `ls -td /opt/elasticbeanstalk/node-install/node-* | head -1`/bin/npm /bin/npm
      npm install apidoc -g
      ln -sf `ls -td /opt/elasticbeanstalk/node-install/node-* | head -1`/bin/apidoc /bin/apidoc
      apidoc -i /var/app/current/controllers -o /var/app/current/apidoc