<!doctype html>
<html ng-app="measureApp">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta http-equiv="content-language" content="en">

  <title>{{pageTitle || "Measure Up Admin Page"}}</title>
  <meta name="fragment" content="!">
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta name="apple-mobile-web-app-capable" content="yes" />

  <!-- Favicons -->
  <link rel="shortcut icon" href="favicon.ico" />
  <meta name="application-name" content="Measure"/>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
    
  <!-- build:css assets/styles/vendor.css -->
  <!-- bower:css -->
  <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.css" />
  <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap-theme.css" />
  <link rel="stylesheet" href="bower_components/font-awesome/css/font-awesome.min.css" />
  <link rel="stylesheet" href="bower_components/angular-growl-v2/build/angular-growl.css" />
  <!-- endbower -->
  <!-- endbuild -->

  <!-- build:css assets/styles/index.css -->
  <link rel="stylesheet" href="assets/styles/app.css">
  <!-- endbuild -->

  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:400,300,100,500,700">
</head>
<body>
  <!--[if lt IE 7]>
  <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your
    experience.</p>
  <![endif]-->
  <div growl></div>
  <header ng-if="!hideHeader"></header>
  <ui-view ng-cloak=""></ui-view>
  <footer ng-if="!hideFooter"></footer>

  <!-- Google Analytics: change UA-XXXXX-X to be your site's ID -->
  <script>
    !function (A, n, g, u, l, a, r) {
      A.GoogleAnalyticsObject = l, A[l] = A[l] || function () {
        (A[l].q = A[l].q || []).push(arguments)
      }, A[l].l = +new Date, a = n.createElement(g),
      r = n.getElementsByTagName(g)[0], a.src = u, r.parentNode.insertBefore(a, r)
    }(window, document, 'script', '//www.google-analytics.com/analytics.js', 'ga');

    ga('create', 'your-gg-code');
    ga('send', 'pageview');
  </script>

  <script> window.prerenderReady = false; </script>

  <!-- build:js scripts/vendor.js -->
  <!-- bower:js -->
  <script src="bower_components/jquery/dist/jquery.js"></script>
  <script src="bower_components/angular/angular.js"></script>
  <script src="bower_components/angular-aria/angular-aria.js"></script>
  <script src="bower_components/angular-animate/angular-animate.js"></script>
  <script src="bower_components/angular-cookies/angular-cookies.js"></script>
  <script src="bower_components/angular-resource/angular-resource.js"></script>
  <script src="bower_components/angular-sanitize/angular-sanitize.js"></script>
  <script src="bower_components/lodash/lodash.js"></script>
  <script src="bower_components/json3/lib/json3.js"></script>
  <script src="bower_components/angular-ui-router/release/angular-ui-router.js"></script>
  <script src="bower_components/angular-growl-v2/build/angular-growl.js"></script>
  <script src="bower_components/ng-file-upload/ng-file-upload.js"></script>
  <script src="bower_components/ng-file-upload-shim/ng-file-upload-shim.js"></script>
  <script src="bower_components/angular-bootstrap/ui-bootstrap-tpls.js"></script>
  <script src="bower_components/moment/moment.js"></script>
  <!-- endbower -->
  <!-- endbuild -->

  <!-- build:js({.tmp,app}) scripts/app.js -->

  <script src="scripts/app/app.js"></script>
  <script src="scripts/app/app.constants.js"></script>
  <script src="scripts/app/login/route.js"></script>
  <script src="scripts/app/login/controller.js"></script>
  <script src="scripts/app/logout/controller.js"></script>
  <script src="scripts/app/home/route.js"></script>
  <script src="scripts/app/home/controller.js"></script>
  <script src="scripts/app/shows/route.js"></script>
  <script src="scripts/app/shows/list/controller.js"></script>
  <script src="scripts/app/shows/create/controller.js"></script>
  <script src="scripts/app/shows/update/controller.js"></script>
  <script src="scripts/app/challenges/route.js"></script>
  <script src="scripts/app/challenges/list/controller.js"></script>
  <script src="scripts/app/challenges/create/controller.js"></script>
  <script src="scripts/app/challenges/update/controller.js"></script>

  <script src="scripts/components/header/header.directive.js"></script>
  <script src="scripts/components/footer/footer.directive.js"></script>
  <script src="scripts/components/contenteditable/contenteditable.directive.js"></script>

  <script src="scripts/services/auth.service.js"></script>    
  <script src="scripts/services/interceptor.factory.js"></script>    
  <script src="scripts/services/user.service.js"></script>    
  <script src="scripts/services/show.service.js"></script>    
  <script src="scripts/services/challenge.service.js"></script>    
  <script src="scripts/services/video.service.js"></script>    
  <script src="scripts/services/upload.service.js"></script>    
  <!-- endbuild -->
</body>
</html>
