<div class="modal-content">
  <div class="modal-header">
    <h3 class="modal-title">Select New Winner</h3>
  </div>
  <div class="modal-body">
    <p>Current prize(s): {{cnwm.currentSubmission.prizesTitle.toString()}} will be grant to new submission. Please select new submission in list below:</p>
    <table class="table">
      <thead>
        <tr>
          <td>Action</td>
          <td>#</td>
          <td class="text-left">Avatar</td>
          <td>Name</td>
          <td>Submission Video</td>
          <td>Total of likes</td>
          <td>Percent of pro-score</td>
        </tr>
      </thead>
      <tbody>
        <tr ng-repeat="item in cnwm.items">
          <td>
            <input type="checkbox" name="winner" ng-model="item.isSelected">
          </td>
          <td class="td-item">{{$index+1}}</td>
          <td class="text-left"><img class="user-avatar" src="{{item.user.avatar || 'assets/images/avatar-placeholder.png'}}"></td>
          <td class="td-item">{{item.user.name}}</td>
          <td class="td-item"><a href="javascript:void(0)" ng-click="cnwm.viewVideo(item)">View video</a></td>
          <td class="td-item">{{item.content.numberOfLikes}}</td>
          <td class="td-item">
            <span ng-if="item.content.proScore >= 0">{{item.content.proScore}}%</span>
            <span ng-if="item.content.proScore < 0">
              <a href="javascript:void(0)" ng-click="cnwm.getProScore(item)">Get Pro-Score</a>
            </span>
          </td>
        </tr>
      </tbody>
    </table>
    <ul uib-pagination items-per-page="cnwm.pagination.limit" total-items="cnwm.total" ng-model="cnwm.pagination.page" ng-change="cnwm.pageChanged()"></ul>
  </div>
  <div class="modal-footer">
    <button class="btn btn-primary" type="button" ng-click="cnwm.submit()">Select</button>
    <button class="btn btn-warning" type="button" ng-click="cnwm.close()">Cancel</button>
  </div>
</div>