<div class="content">
  <div class="challenges-list">
    <div class="row">
      <h1 class="col-sm-10">Submissions List</h1>
    </div>
    <table class="table">
      <thead>
        <tr>
          <td>#</td>
          <td class="text-left">Avatar</td>
          <td>Name</td>
          <td>End Date</td>
          <td>Status</td>
          <td>Uploaded Video</td>
          <td>Total Submissions</td>
          <td class="text-right">Action</td>
        </tr>
      </thead>
      <tbody>
        <tr ng-repeat="item in items">
          <td>{{$index+1}}</td>
          <td class="text-left">{{item.title}}</td>
          <td>{{item.description}}</td>
          <td>{{item.expiresAt | date: 'dd MMM yyyy'}}</td>
          <td>{{item.status}}</td>
          <td><a href="javascript:void(0)" ng-click="viewVideo(item)">View video</a></td>
          <td><a ui-sref="app.submission.list({showId: showId, challengeId: item._id})">{{item.numberOfSubmissions}}</a></td>
          <td class="text-right">
            <a title="Edit Challenge" class="table-icon" href="javascript:void(0)" ng-click="editChallenge(item)">
              <i class="fa fa-pencil"></i>
            </a>
            <a title="Delete Challenge" class="table-icon" href="javascript:void(0)" ng-click="removeChallenge(item, $index)">
              <i class="fa fa-trash-o"></i>
            </a>
          </td>
        </tr>
      </tbody>
    </table>
    <ul uib-pagination items-per-page="pagination.limit" total-items="total" ng-model="pagination.page" ng-change="pageChanged()"></ul>
  </div>
</div>