<div class="content">
  <div class="submissions-list">
    <div class="row">
      <h1 class="col-sm-5">Submissions List</h1>
      <div class="col-sm-2">
        <button ui-sref="app.challenge.list({showId: stateParams.showId})" class="btn btn-primary add-new-challenge-button"><i class="fa fa-chevron-left"></i> Back to chalenges list</button>
      </div>
      <div class="col-sm-2">
        <button ng-disabled="!hasWinner" ng-click="notificationToWinner()" class="btn btn-primary add-new-challenge-button"><i class="fa fa-bell"></i> Notification to winner(s)</button>
      </div>
      <div class="col-sm-3">
        <button ng-click="notificationWinnerAnnouncement()" ng-disabled="challengeDetail.status !== 'closed'" class="btn btn-primary add-new-challenge-button"><i class="fa fa-bell"></i> Winner announcement</button>
      </div>
    </div>
    <!-- <div class="row filter-content">
      <div class="col-sm-3">
        <input type="text" name="title" placeholder="Enter user name" ng-model="filter.userName" class="form-control" ng-keydown="onEnterUserName($event)">
      </div>
      <div class="col-sm-3">
        <input type="number" name="title" placeholder="Enter likes number" ng-model="filter.likeNumber" class="form-control" ng-keydown="onEnterLikeNumber($event)">
      </div>
      <div class="col-sm-3">
        <input type="number" name="title" placeholder="Enter pro-score" ng-model="filter.proScore" class="form-control" ng-keydown="onEnterProScore($event)">
      </div>
    </div> -->
    <table class="table">
      <thead>
        <tr>
          <td>#</td>
          <td class="text-left">Avatar</td>
          <td>Name</td>
          <td>Submission Video</td>
          <td>Total of likes</td>
          <td>Percent of pro-score</td>
          <td>Prize(s)</td>
          <td class="text-right">Action</td>
        </tr>
      </thead>
      <tbody>
        <tr ng-repeat="item in items">
          <td class="td-item">{{$index+1}}</td>
          <td class="text-left"><img class="user-avatar" src="{{item.user.avatar || 'assets/images/avatar-placeholder.png'}}"></td>
          <td class="td-item">{{item.user.name}}</td>
          <td class="td-item"><a href="javascript:void(0)" ng-click="viewVideo(item)">View video</a></td>
          <td class="td-item">{{item.content.numberOfLikes}}</td>
          <td class="td-item">
            <div ng-if="!item.approved">&nbsp;</div>
            <div ng-if="item.approved">
              <span ng-if="item.content.proScore >= 0">{{item.content.proScore}}%</span>
              <span ng-if="item.content.proScore < 0">
                <a href="javascript:void(0)" ng-click="getProScore(item)">Get Pro-Score</a>
              </span>
            </div>
          </td>
          <td class="td-item">
            <span ng-repeat="prizeTitle in item.prizesTitle track by $index">
              {{prizeTitle}} <br>
            </span>
          </td>
          <td class="text-right td-item action">
            <a ng-if="challengeDetail.status !== 'closed'" title="Set Prize" class="table-icon" href="javascript:void(0)" ng-click="setPrize(item)">
              <i ng-class="{'active': item.prizes && item.prizes.length > 0}" class="fa fa-gift"></i>
            </a>
            <a class="table-icon" href="javascript:void(0)" title="{{!item.approved ? 'Approve submission' : 'Disapprove submission'}}" ng-click="approveSubmission(item)">
              <i class="fa fa-check" ng-class="{'active': item.approved}"></i>
            </a>
            <a class="table-icon" href="javascript:void(0)" title="Delete submission" ng-click="deleteSubmission(item)">
              <i class="fa fa-trash"></i>
            </a>
          </td>
        </tr>
      </tbody>
    </table>
    <ul uib-pagination items-per-page="pagination.limit" total-items="total" ng-model="pagination.page" ng-change="pageChanged()"></ul>
  </div>
</div>