<div class="content">
  <div class="row">
    <div class="col-sm-8 col-sm-offset-2">
      <h1>Update Show</h1>
      <form class="update-show-form" ng-submit="submit(form)" name="form" novalidate>
        <div class="form-group" ng-class="{'has-error': form.title.$invalid && form.$submitted}">
          <label>Title <span class="required">*</span></label>
          <input class="form-control" type="text" name="title" ng-model="data.title" required ng-maxlength="30" placeholder="Show Title">
          <p class="help-block" ng-if="form.title.$error.required && form.$submitted">Title is required</p>
          <p class="help-block" ng-if="form.title.$error.maxlength && form.$submitted">Title exceeds the allowable limit (30 characters)</p>
        </div>
        <div class="form-group" ng-class="{'has-error': form.brightcoveId.$invalid && form.$submitted}">
          <label>BrightCove ID <span class="required">*</span></label>
          <input class="form-control" type="text" name="brightcoveId" ng-model="data.brightcoveId" placeholder="BrightCove ID" required>
          <p class="help-block" ng-if="form.brightcoveId.$error.required && form.$submitted">BrightCove ID is required</p>
        </div>
        <div class="form-group" ng-class="{'has-error': form.thumbnail.$invalid && form.$submitted}">
          <label>Show Thumbnail <span class="required">*</span></label>
          <input name="thumbnail" class="form-control" type="file" ngf-max-size="40MB" ng-model="file" uploader="uploader" ngf-pattern="'image/*'" ngf-accept="'image/*'" ng-required="!data.thumbnailUrl" ngf-select="upload($file)"/>
          <p class="help-block" ng-if="form.thumbnail.$error.required && !form.thumbnail.$error.maxSize && !form.thumbnail.$error.pattern">Show thumbnail is required</p>
          <p class="help-block" ng-if="form.thumbnail.$error.maxSize">Thumbnail size exceeds the allowable limit (40MB)</p>
          <p class="help-block" ng-if="form.thumbnail.$error.pattern">Only allow image format</p>
          <p ng-if="isUploading">
            <i class="fa fa-spinner fa-spin fa-3x fa-fw"></i>
            <span class="sr-only">Loading...</span>
          </p>
        </div>
        <div class="form-group" ng-class="{'has-error': form.duration.$invalid && form.$submitted}">
          <label>Duration(s) <span class="required">*</span></label>
          <input class="form-control" type="text" name="duration" ng-model="data.duration" placeholder="Duration" required pattern="\d+">
          <p class="help-block" ng-if="form.duration.$error.required && form.$submitted">Duration is required</p>
          <p class="help-block" ng-if="form.duration.$error.pattern && form.$submitted">Duration must be a positive number</p>
        </div>
        <div class="form-group" ng-class="{'has-error': form.expiresAt.$invalid && form.$submitted}">
          <label>Show Date <span class="required">*</span></label>
          <p class="input-group">
            <input name="expiresAt" type="text" class="form-control" uib-datepicker-popup="dd-MMM-yyyy" ng-model="data.expiresAt" is-open="openEndDate" datepicker-options="dateOptions" close-text="Close" required readonly/>
            <span class="input-group-btn">
              <button type="button" class="btn btn-default" ng-click="openEndDate=!openEndDate"><i class="glyphicon glyphicon-calendar"></i></button>
            </span>
          </p>
          <p class="help-block" ng-if="form.expiresAt.$error.required && form.$submitted">Show date is required</p>
          <p class="help-block" ng-if="form.expiresAt.$error.date && form.$submitted">Invalid date</p>
        </div>
        <div class="form-group">
          <label>Status <span class="required">*</span></label>
          <div class="form-group" ng-class="{'has-error': form.status.$invalid && form.$submitted}">
            <select name="status" class="form-control" ng-model="data.status" ng-options="status for status in showStatuses" required></select>
          </div>
          <p class="help-block" ng-if="form.status.$error.required && form.$submitted">Status is required</p>
        </div>
        <div class="form-group">
          <button ng-disabled="submitted" type="submit" class="btn btn-primary">Submit</button>
          <button type="button" class="btn btn-warning" ui-sref="app.show.list">Cancel</button>
        </div>
      </form>
    </div>
  </div>
</div>