<div class="content">
  <div class="shows-list">
    <div class="row">
      <h1 class="col-sm-10">Shows List</h1>
      <div class="col-sm-2">
        <button ui-sref="app.show.create" class="btn btn-primary add-new-show-button"><i class="fa fa-plus"></i> Add New Show</button>
      </div>
    </div>
    <table class="table">
      <thead>
        <tr>
          <td>#</td>
          <td class="text-left">Title</td>
          <td>Creator</td>
          <td>Total Challenges</td>
          <td>End Date</td>
          <td>Status</td>
          <td class="text-right">Action</td>
        </tr>
      </thead>
      <tbody>
        <tr ng-repeat="item in items">
          <td>{{$index + 1}}</td>
          <td class="text-left"><a ui-sref="app.challenge.list({showId: item._id})">{{item.title}}</a></td>
          <td>{{item.creator.firstName}} {{item.creator.lastName}}</td>
          <td>{{item.numberOfChallenges}}</td>
          <td>{{item.expiresAt | date: 'dd MMM yyyy'}}</td>
          <td>{{item.status}}</td>
          <td class="text-right">
            <a title="Edit Show" class="table-icon" href="javascript:void(0)" ng-click="editShow(item)">
              <i class="fa fa-pencil"></i>
            </a>
            <a title="Delete Show" class="table-icon" href="javascript:void(0)" ng-click="deleteShow(item, index)">
              <i class="fa fa-trash-o"></i>
            </a>
            <a title="Add Challenge" class="table-icon" ui-sref="app.challenge.create({showId: item._id})">
              <i class="fa fa-plus"></i>
            </a>
          </td>
        </tr>
      </tbody>
    </table>
    <ul uib-pagination items-per-page="pagination.limit" total-items="total" ng-model="pagination.page" ng-change="pageChanged()"></ul>
  </div>
</div>