<div class="content">
  <div class="shows-list">
    <div class="row">
      <h1 class="col-sm-8">Shows List</h1>
      <span ui-sref="app.show.create" class="col-sm-4 add-new-show-button"><i class="fa fa-plus"></i> Add New Show</span>
    </div>
    <table class="table">
      <thead>
        <tr>
          <td>#</td>
          <td>Title</td>
          <td>Creator</td>
          <td>Total Challenges</td>
          <td>End Date</td>
          <td>Status</td>
          <td>Action</td>
        </tr>
      </thead>
      <tbody>
        <tr ng-repeat="item in items">
          <td>{{$index + 1}}</td>
          <td><a ui-sref="app.challenge.list({showId: item._id})">{{item.title}}</a></td>
          <td>{{item.creator}}</td>
          <td>{{item.numberOfChallenges}}</td>
          <td>{{item.expiresAt | date: 'dd MMM yyyy'}}</td>
          <td>{{item.status}}</td>
          <td>
            <a ui-sref="app.show.edit({id: item._id})">
              <i class="fa fa-pencil"></i> Edit
            </a>
            <a href="javascript:void(0)" ng-click="removeShow(item)">
              <i class="fa fa-times"></i> Delete
            </a>
            <a ui-sref="app.challenge.create({showId: item._id})">
              <i class="fa fa-plus"></i> Creat New Challenge
            </a>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>