<div class="content">
  <div class="row">
    <div class="col-sm-8 col-sm-offset-2">
      <h1>Update Challenge</h1>
      <form ng-submit="submit(form)" name="form" novalidate>
        <div class="form-group">
          <label>Show Name</label>
          <input type="text" name="showName" placeholder="Show Name" disabled class="form-control" ng-model="showDetail.title">
        </div>
        <div class="form-group" ng-class="{'has-error': form.campaignId.$invalid && form.$submitted}">
          <label>Campaign ID <span class="required">*</span></label>
          <input class="form-control" type="text" name="campaignId" ng-model="data.campaignId" required  placeholder="Campaign ID">
          <p class="help-block" ng-if="form.campaignId.$error.required && form.$submitted">Campaign ID is required</p>
        </div>
        <div class="form-group" ng-class="{'has-error': form.title.$invalid && form.$submitted}">
          <label>Title <span class="required">*</span></label>
          <input class="form-control" type="text" name="title" ng-model="data.title" required ng-maxlength="30" placeholder="Challenge Title">
          <p class="help-block" ng-if="form.title.$error.required && form.$submitted">Title is required</p>
          <p class="help-block" ng-if="form.title.$error.maxlength && form.$submitted">Title exceeds the allowable limit (30 characters)</p>
        </div>
        <div class="form-group" ng-class="{'has-error': form.description.$invalid && form.$submitted}">
          <label>Description <span class="required">*</span></label>
          <textarea class="form-control" ng-model="data.description" name="description" required rows="5" placeholder="Challenge Description" ng-maxlength="60"></textarea>
          <p class="help-block" ng-if="form.description.$error.required && form.$submitted">Description is required</p>
          <p class="help-block" ng-if="form.description.$error.maxlength && form.$submitted">Description exceeds the allowable limit (60 characters)</p>
        </div>
        <div class="form-group" ng-class="{'has-error': form.announcement.$invalid && form.$submitted}">
          <label>Announcement <span class="required">*</span></label>
          <input class="form-control" type="text" name="announcement" ng-model="data.announcement" required placeholder="Challenge Announcement" ng-maxlength="60">
          <p class="help-block" ng-if="form.announcement.$error.required && form.$submitted">Announcement is required</p>
          <p class="help-block" ng-if="form.announcement.$error.maxlength && form.$submitted">Announcement exceeds the allowable limit (60 characters)</p>
        </div>
        <div class="form-group" ng-class="{'has-error': form.expiresAt.$invalid && form.$submitted}">
          <label>End Date <span class="required">*</span></label>
          <p class="input-group">
            <input name="expiresAt" type="text" class="form-control" uib-datepicker-popup="dd-MMM-yyyy" ng-model="data.expiresAt" is-open="openEndDate" datepicker-options="dateOptions" close-text="Close" required readonly/>
            <span class="input-group-btn">
              <button type="button" class="btn btn-default" ng-click="openEndDate=!openEndDate"><i class="glyphicon glyphicon-calendar"></i></button>
            </span>
          </p>
          <p class="help-block" ng-if="form.expiresAt.$error.required && form.$submitted">End date is required</p>
          <p class="help-block" ng-if="form.expiresAt.$error.date && form.$submitted">Invalid date</p>
          <p class="help-block" ng-if="form.expiresAt.$error.endTime && form.$submitted">End Date must be less than End Date of Show</p>
        </div>
        <div class="form-group" ng-class="{'has-error': data.prizes.length < 2 && form.$submitted}">
          <label>Prizes <span class="required">*</span></label>
          <div class="row">
            <div class="col-sm-5" ng-class="{'has-error': prizeTitleError || prizeTitleLengthError}">
              <input class="form-control" type="text" name="prizeTitle" ng-model="prize.title" placeholder="Prize Title">
              <p class="help-block" ng-if="prizeTitleError">Prize title is required</p>
              <p class="help-block" ng-if="prizeTitleLengthError">Prize Title exceeds the allowable limit (30 characters)</p>
            </div>
            <div class="col-sm-5" ng-class="{'has-error': prizeDescError || prizeDescLengthError}">
              <input class="form-control" type="text" name="prizeTitle" ng-model="prize.description" placeholder="Prize Description">
              <p class="help-block" ng-if="prizeDescError">Prize Description is required</p>
              <p class="help-block" ng-if="prizeDescLengthError">Prize Description exceeds the allowable limit (60 characters)</p>
            </div>
            <div class="col-sm-2">
              <button class="btn btn-primary" type="button" ng-click="addPrize()">Add Prize</button>
            </div>
          </div>
          <p class="help-block" ng-if="data.prizes.length < 2 && form.$submitted">A challenge always requires 2 prizes</p>
        </div>
        <div class="form-group" ng-show="data.prizes.length > 0">
          <label>Prizes List</label>
          <table class="table">
            <thead>
              <tr>
                <td>#</td>
                <td>Title</td>
                <td>Description</td>
                <td>Action</td>
              </tr>
            </thead>
            <tbody>
              <tr ng-repeat="prizeItem in data.prizes">
                <td>{{$index + 1}}</td>
                <td><span contenteditable ng-model="prizeItem.title">{{prizeItem.title}}</span></td>
                <td><span contenteditable ng-model="prizeItem.description">{{prizeItem.description}}</span></td>
                <td><a ng-click="removePrize($index)"><i class="fa fa-times"></i></a></td>
              </tr>
            </tbody>
          </table>
        </div>
        <div class="form-group" ng-class="{'has-error': form.video.$invalid}">
          <label>Video Challenge <span class="required">*</span></label>
          <input name="video" class="form-control" type="file" ngf-max-size="40MB" ng-model="file" uploader="uploader" ngf-pattern="'video/*'" ngf-accept="'video/*'" ng-required="!data.video || !data.video._id" ngf-select="upload($file)"/>
          <p class="help-block" ng-if="form.video.$error.required && !form.video.$error.maxSize && !form.video.$error.pattern">Video Challenge is required</p>
          <p class="help-block" ng-if="form.video.$error.maxSize">Video size exceeds the allowable limit (40MB)</p>
          <p class="help-block" ng-if="form.video.$error.pattern">Only allow video format</p>
          <p ng-if="isUploading">
            <i class="fa fa-spinner fa-spin fa-3x fa-fw"></i>
            <span class="sr-only">Loading...</span>
          </p>
        </div>
        <div class="form-group">
          <button ng-disabled="submitted" type="submit" class="btn btn-primary">Submit</button>
          <button type="button" class="btn btn-warning" ui-sref="app.challenge.list({showId: showId})">Cancel</button>
        </div>
      </form>
    </div>
  </div>
</div>